html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

body{
    --primary-color: #ff8000;
    --accent-01: #000000;
    --accent-02: #ffffff;
    --accent-03: #E09D60;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--accent-02);
    height: 100vh;
    color: var(--accent-01);
}

/* Section */
section{
    scroll-margin-top: 80px;
}

/* Navbar */
.container {
    width: 100%;
    height: 12vh;
    margin: 0 auto;
    padding: 0 20px;

}

header {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e74c3c;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color: black;
}

nav ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.logo img {
    height: 100px;  
}

.donate-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.donate-btn:hover {
    background-color: black; 
    transition: 0.5s;
}

.btn i {
    font-size: 1.3rem;
    padding: 20px;
    color: black;
}

.btn i:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}  


/* Hero Section */

 .hero {
    padding-top: 70px;
    height: 85vh;
    background-color: #fce5d4;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.hero-content{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    color: #2f3b6b;
}

.hero-img{
    padding-top: 100px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-content p{
    font-size: 1.5rem;
}

.hero-img img{
    height: 450px;
}


/* Types of adoption */
.adoption-types{
    text-align: center;
    padding: 50px 20px;
    background-image: url(./assets/types-bg);
    background-size: cover;
}

.intro{
    margin: 60px 0;
}

.intro h2{
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro p{
    font-size: 1.5rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 60px 50px;
}

.intro-cards{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;   
    padding: 20px;
}

.intro-card{
    border-radius: 20px;
    width: 400px;
    height: 250px;
    background-color: #eda972;
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
}


.types-container{
    margin-top: 100px;
}

.type-cards{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;   
    padding: 20px;
}

.type-card{
    border-radius: 25px;
    width: 350px;
    height: auto;
    transition-property: all;
    transition-duration: 0.3s;
}

.types-container h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.type-cards h3{
    font-size: 1.5rem;
    color: #5b9cbd;
}

.type-cards p{
    margin-top: 20px;
    font-size: 1.2rem;
    opacity: 0.8;
}

/* Adoption Steps */
.adoption-steps{
    padding: 50px 20px;
    background-color: #c2dded;
}

.adoption-steps h2{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #303c6c;
}

.adoption-steps p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0 50px 15px 50px;
    color: #303c6c;
}

.steps-container{
    margin-top: 100px;
    gap: 30px;
}

.steps-content{
    padding: 0 200px;
}

.main-steps{
    margin-top: 15px;
    padding: 0 50px;
}

.steps-content h3{
    font-size: 1.5rem;
}

.dropdown-container {
    width: 100%;
    padding: 20px 50px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: white;
    }

    .dropdown-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .dropdown-header span{
        font-weight: 700;
    }

    .dropdown-icon {
      font-size: 20px;
      transition: transform 0.3s ease;
    }

    .dropdown-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      margin-top: 5px;
      color: #333;
    }

    .dropdown-content.open {
      max-height: 200px;
    }

    .dropdown-icon.rotate {
      transform: rotate(180deg);
    }

/* Eligibility Section */
.eligibility{
    padding: 80px 20px;
    background-color: #2f3b6b;
}

.eligibility-container{
    margin-top: 50px;
    padding: 0 200px;
    color: white;
}

.eligibility-container h2{
    font-size: 3rem;
    margin-bottom: 20px;
    color: yellow;
}

.eligibility-container p{
    text-align: justify;
    font-size: 1.7rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 20px 0;
}


.eligibility-btn{
    text-align: center;
    margin-top: 30px;
}

.eligibility-btn a{
    background-color: white;
    color: black;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eligibility-btn a:hover{
    background-color: var(--primary-color);
    color: white;
    transition: 0.5s;
}

/* Adoption Stories */
.adoption-stories{
    background-color: #fce5d4;
    padding: 50px 20px;
    text-align: center;
}

.stories-container{
    margin-top: 50px;
    padding: 0 200px;
}

.stories-container h2{
    font-size: 3rem;
    margin-bottom: 25px;
    color: #2f3b6b;
}

.stories-container p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0 auto;
}

/* Footer Section */
footer .container{
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    max-width: 50%;
}

.footer-logo img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 1rem;
    line-height: 1.6;
    color: white;
    margin-bottom: 20px;
    padding: 0 20px;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    gap: 15px;
    padding: 0;
}

.footer-links ul li {
    margin: 10px 0;
    color: grey;
}

.footer-links ul li:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

.footer-social ul {
    display: flex;
    margin-top: 10px;
    gap: 15px;
    padding: 0;
}

.footer-social ul a {
    color: black;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-social ul a:hover {
    color: var(--primary-color);
}

.footer-contact h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-contact input[type="email"] {
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 200px;
}

.footer-contact .subscribe-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: black; 
    transition: 0.5s;
}